<%= form_for([project, task], remote: true) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="input-group">
	  <%= f.text_field :content, placeholder: "Start typing here to create a task..", class: 'form-control' %>
	  <span class="input-group-btn">
	    <%= f.submit "Add Task", class: 'btn btn-primary' %>
	  </span>
	</div>
<% end %>