<% if object.errors.any? %>
	<div id="error_explanation">
	  <h4><%= pluralize(object.errors.count, "error") %> occured while saving:</h4>

	  <ul>
	  <% object.errors.full_messages.each do |message| %>
	    <li><%= message %></li>
	  <% end %>
	  </ul>
	</div>
<% end %>