<% if user_signed_in? %>
  <!-- <h1>Hello, <@%= current_user.name %>! <small>(<@%= current_user.email %>)</small> </h1> -->

  <div class="row">
    <div class="center text-uppercase">
      <h2>
        <strong>Simple todo lists</strong><br/>
        <small>From Volodymyr Shvydkyi</small>
      </h2>
    </div>

    <br/>   

    <div class="col-md-10 col-md-offset-1">
      <%= render @projects %>
      <br/>
      <div class="center">
        <%= link_to new_project_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <strong>Add TODO List</strong>
        <% end %>
      </div>
    </div> 
  </div>  
<% else %>
  <div class="center jumbotron">
    <h1>Welcom to Task Manager App</h1> 
    <h2>Created by Volodymyr Shvydkyi</h2>
    <%= link_to "Sing up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>  
<% end %>
