@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
$font-family-sans-serif: "Roboto", sans-serif !default;

@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */


/* universal */

html {
  min-height: 100%;
}

body {
  padding-top: 60px;
  background: -webkit-linear-gradient(180deg, #d6d3c1 10%, #d18d0e 100%);
  background:    -moz-linear-gradient(180deg, #d6d3c1 10%, #d18d0e 100%);
  background:     -ms-linear-gradient(180deg, #d6d3c1 10%, #d18d0e 100%);
  background:      -o-linear-gradient(180deg, #d6d3c1 10%, #d18d0e 100%);
  background:         linear-gradient(180deg, #d6d3c1 10%, #d18d0e 100%);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
	margin-bottom: 10px;
  }
}

.alert-notice {
	@extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

input {
  height: auto !important;
}

.checkbox {
  width: auto;
  margin-top: 0px !important;
  margin-right: 10px !important;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#error_explanation {
  @extend .alert;
  color: $state-danger-text;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: $state-danger-text;
  h2 {
    @extend h4;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* navbar */
.icon-bar {
  background: #428bca;
}

.collapse.in, .collapsing {
  background: -webkit-linear-gradient(180deg, #d6d3c1 10%, #d18d0e 200%);
  background:    -moz-linear-gradient(180deg, #d6d3c1 10%, #d18d0e 200%);
  background:     -ms-linear-gradient(180deg, #d6d3c1 10%, #d18d0e 200%);
  background:      -o-linear-gradient(180deg, #d6d3c1 10%, #d18d0e 200%);
  background:         linear-gradient(180deg, #d6d3c1 10%, #d18d0e 200%);
  border-top: none;
  border-radius: 6px;
}