@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
	margin-bottom: 10px;
  }
}

.alert-notice {
	background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}